* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.upper__header {
  background-image: url("/assets/desktop/garrett_rock.png");
  background-repeat: no-repeat;
}

.bg-image {
  background-image: url("./../../assets/desktop/water_icerock.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__navigation {
  width: 527px;
  margin-left: -30px;
}
.header__navigation .navigation__list {
  list-style-type: none;
}
.header__navigation .navigation__link {
  font-family: Red Hat Text;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #FFF;
  transition: 0.3s ease-in-out;
}
.header__navigation :hover {
  color: #0D606F;
}
.header__navigation ul {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #0D606F;
  color: #FFF;
  font-family: Red Hat Text;
  font-size: 16px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s ease-in-out;
}

:hover {
  color: black;
}

.header__button {
  width: 103px;
  box-shadow: 0px 1px 0px 0px gray;
  padding: 10px;
}

.header {
  background-color: #F2785C;
  opacity: 0.7;
  box-shadow: 0px 1px 8px #0D606F;
  margin-bottom: 30px;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.header .logo__link {
  width: 208px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.header .logo__link .logo__subtitle {
  font-size: 32px;
  font-family: Magra;
  font-weight: 700;
  color: #FFF;
}

.trip {
  margin-bottom: 80px;
}
.trip .wrapper {
  display: flex;
  justify-content: start;
}
.trip .trip__info {
  width: 890px;
  padding-bottom: 254px;
}
.trip .trip__title {
  font-family: Aleo;
  font-size: 80px;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 32px;
}
.trip .trip__description {
  font-family: Aleo;
  font-size: 20px;
  font-family: 700;
  font-style: italic;
  color: #FFF;
  margin-bottom: 46px;
}
.trip .trip__form {
  width: 892px;
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  opacity: 0.7;
  border-radius: 15px;
  padding: 19px 0;
}
.trip .trip__form .form__input {
  width: 560px;
  margin-left: 41px;
  font-family: Aleo;
  font-style: italic;
  font-size: 24px;
  letter-spacing: -1px;
  outline: none;
  border: 0;
  outline-offset: 0;
}
.trip .trip__form ::-moz-placeholder {
  color: #F2785C;
}
.trip .trip__form ::placeholder {
  color: #F2785C;
}
.trip .trip__form .trip__button {
  width: 228px;
  padding: 13px 0;
  font-size: 24px;
  margin-right: 18px;
  letter-spacing: 0.5px;
}

.steps {
  margin-bottom: 97px;
}
.steps .wrapper {
  padding: 0 12px;
}
.steps .steps__subtitle {
  display: flex;
  justify-content: center;
  font-family: Red Hat Text;
  font-size: 40px;
  font-weight: 500;
  color: #F2785C;
  margin-bottom: 40px;
}
.steps .steps__block {
  display: flex;
  justify-content: space-between;
}
.steps .steps__card {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.steps .step__img {
  margin-bottom: 30px;
}
.steps .card__description {
  font-family: Aleo;
  font-size: 20px;
  color: #0D606F;
}
.steps .card-middle {
  margin-left: 66px;
}

.destination {
  margin-bottom: 80px;
}
.destination .destination__subtitle {
  display: flex;
  justify-content: center;
  font-family: Red Hat Text;
  font-size: 40px;
  font-weight: 500;
  color: #F2785C;
  margin-bottom: 46px;
}
.destination .slider {
  display: flex;
  margin-bottom: 24px;
  gap: 60px;
}
.destination .slider__img {
  border-radius: 16px;
}
.destination .slider__swipe {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  margin-bottom: 33px;
}
.destination .destination__button {
  width: 228px;
  padding: 9px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: 0.3s ease-in-out;
}
.destination .button__arrow {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}
.destination .button__text {
  font-family: Red Hat Text;
  font-size: 24px;
  font-weight: 500;
  color: #FFF;
  display: flex;
  align-items: center;
}

.stories__fone {
  opacity: 0.7;
  padding-top: 40px;
}
.stories__fone .wrapper {
  padding-bottom: 42px;
}

.stories__title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #F2785C;
  font-family: Red Hat Text;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 41px;
}

.stories__block {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 30px;
}
.stories__block .stories__img {
  border-radius: 16px;
}
.stories__block .stories__subtitle {
  font-family: Aleo;
  font-size: 35px;
  color: #0D606F;
  letter-spacing: -1px;
  margin-bottom: 24px;
}
.stories__block .stories__description {
  font-family: Aleo;
  font-size: 20px;
  color: #0D606F;
  width: 765px;
}

.stories__block-margin {
  margin-bottom: 41px;
}

.stories__button {
  width: 228px;
  padding: 9px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: 0.3s ease-in-out;
}

.button__arrow {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.button__text {
  font-family: Red Hat Text;
  font-size: 24px;
  font-weight: 500;
  color: #FFF;
  display: flex;
  align-items: center;
}

.footer .wrapper {
  display: flex;
  justify-content: end;
}
.footer .footer__block {
  display: flex;
  justify-content: space-between;
  width: 730px;
  padding: 11px 0;
}
.footer .footer__block .footer__info {
  font-family: Red Hat Text;
  font-weight: 500;
  color: #FFF;
  align-items: center;
  display: flex;
}
.footer .footer__social {
  display: flex;
  justify-content: space-between;
  width: 140px;
}/*# sourceMappingURL=main.css.map */