.header__navigation {
  width: 527px;
  margin-left: -30px;
  @include media-mobile {
    display: none;
  }

  .navigation__list {
    list-style-type: none;
  }

  .navigation__link {
    font-family: Red Hat Text;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: $color-white;
    transition: 0.3s ease-in-out;
  }:hover {
    color: $color-green;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }
}